# Claude
.claude/docs

# Git
.DS_Store

# Node
node_modules
dist
coverage
api/_bundle.cjs
public

# Env
.env*
!.env.example
!.env.development

# Firebase emulator
*-debug.log
.firebase

# Vercel
.vercel
